.stepsContainer {
  background-image: url(../assets/bg-sidebar-desktop.svg);
  height: 35rem;
  width: 17rem;
  width: 33%;
  object-fit: cover;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.stepsNumber {
  color: var(--White);
  font-weight: var(--fw-bold);
  padding: 1rem;
  border-radius: 100%;
  border: 1px solid var(--White);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  cursor: pointer;
}

.stepTexts p:nth-child(1) {
  color: var(--Light-gray);
  font-size: var(--fs-normal);
}

.stepTexts p:nth-child(2) {
  color: var(--White);
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
}
